<span class="step-links">
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}"><<</a>
    {% endif %}
    {% for page_number in page.adjusted_elided_pages %}
        {% if page_number == page.paginator.ELLIPSIS or page_number == current_page_number %}
            {{page_number}}
        {% else %}
            <a href="?page={{page_number}}">{{page_number}}</a>
        {% endif %}
    {% endfor %}
    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}">>></a>
    {% endif %}
</span>